:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color:#2196F3;
}




body {
    background-color: #F5F5F5;
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}

/* Header */
 /* <!-- Logo -- > */
 
.logo {
    color: #000000;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.192;
    text-decoration: none;
    letter-spacing: 0.03em;
    
}

.logo-web {
    color: var(--accent-color);
}

.logo-studio-header {
    color: #000000;
 }

 ul {
        list-style-type: none;
    }

 .site-nav .link {
    color: var(--accent-color);
    text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
 }
 .site-nav .link:hover,
 .site-nav .link:focus {
    color: #000000;
 }

 .site-nav .item {
    color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
    text-decoration: none;
}
.auth-nav .contact {
    color: var(--accent-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
    text-decoration: none;
}

.auth-nav .contact:hover,
.auth-nav .contact:focus {
    color: #000000;
}
 
.auth-nav .contact-icon {
    color: var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
        text-decoration: none;  
}

.auth-nav .contact-icon:hover,
.auth-nav .contact-icon:focus {
     color: #000000;
}
/* main */
/* hero section */

.hero-title {
    color: #FFFFFF;
    background: #2F303A;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.364;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
.button-primary {
    color: #FFFFFF;
    background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        font-family: 'Roboto';
            font-weight: 700;
            font-size: 16px;
            line-height: 1.875;
            cursor: pointer;
}

/* section about us */

.section-title {
    color: var(--primary-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.section-text {
    color: var(--title-text-color);
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em; 
}

/* what we do */

.title-section {
    color: var(--primary-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.167;
        text-align: center;
        letter-spacing: 0.03em;
    }

    /* our team */
    .section-team {
        background: #f5f4fa
    }

    .text-section {
        color: var(--primary-text-color);
            font-weight: 500;
            line-height: 1.188;
            text-align: none;
            letter-spacing: 0.03em;
        }
    .name {
        color: var(--title-text-color);
            line-height: 1.188;
            text-align: none;
            letter-spacing: 0.03em;
            border-radius: 0px 0px 4px 4px;
    }
 
    /* footer */
 .logo-studio-footer {
    color: #ffffff;
 }

 .footer {
    background-color: #2F303A;
 }

 .footer-contact {
    color: #FFFFFF;
    font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        text-decoration: none;
}

.footer-contact-email {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        text-decoration: none;
}

.footer-contact-phone {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        text-decoration: none;
}
.footer .footer-contact-email:hover,
.footer .footer-contact-email:focus {
    color: #000000;
}

.footer .footer-contact-phone:hover,
.footer .footer-contact-phone:focus {
    color: #000000; 
}

/* portfolio */
.button-portfolio .button {
    color: var(--primary-text-color);
     background: #F5F4FA;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: none;
        letter-spacing: 0.03em;
            border-radius: 4px;
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            cursor: pointer;
}
.button-portfolio .button-primary-portfolio {
    color: #ffffff;
    background: #2196F3;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        text-align: none;
        letter-spacing: 0.03em;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border: none;
        cursor: pointer;

}
.list-portfolio-title {
    color: var(--primary-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

 .list-portfolio-text {
    color: var(--title-text-color);
        line-height: 1.875;
      letter-spacing: 0.03em;
 }